
$default-border-radius: 4px;

/**
 * Base Colors
 */
$color-default: #222;
$color-white: #fff;

/**
 * Social Media Platform Colors
 */
$color-gplus: #dd4b39;
$color-facebook: #3b559f;
$color-twitter: #00aced;
$color-xing: #2d6e7a;
